.fundo{
    margin: 0;
    /*background-color: rgb(212, 240, 236);*/
    background-color: rgba(245, 222, 179, 0.753);
}

.sticky-top {
    /*background-color: #cccccca9;*/
    /*background-color: color-mix(in srgb, red, white 80%);*/
    background-color: rgba(245, 222, 179, 0.753);

}


ul, li, a {
    gap: 2rem;
    letter-spacing: 1px;
    padding: 1px;
    font-weight: bold;
      
}

a:hover{
    background-color: color-mix(in srgb, red, white 80%);
}

.div_header{
    background-color: rgba(245, 222, 179, 0.753);


}
.nome_h1 {
    text-align: center;
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive;
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    color: blue;
    font-size: 5rem;

}

.parágrafo_header{
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;

}


p {
    text-align: center;
    padding-top: 3rem;
    font-weight: bold;
    color: blue;
}

.ajuste_img {
    width: 250px; 
    height: 200px;
    border: 3px solid rgba(0, 0, 255, 0.747);
    /*border: 3px solid rgba(0, 0, 255, 0.575);*/

}

.ajuste_img:hover {
    transform: scale(1.1); 

}


footer {
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-weight: bold;
    background-color: rgba(245, 222, 179, 0.753);

}

/*RESPONSIVIDADE PARA CELULAR*/

@media screen and (max-width: 576px) {
    a:hover{
        background-color: none;
    }
    
    .nome_h1 {
        text-align: center;
        padding-top: 2rem;
        font-family: 'Dancing Script', cursive;
        color: blue;
        font-size: 3rem;
    
    }
    
    .parágrafo_header{
        font-size: 1.1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-bottom: 1.2rem;
    
    }
    
    .config_container {
        text-align: center;
    }

    .ajuste_img:hover {
        transform: none; 
    
    }
}

